* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
}

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --light-grey-color: #F4F4F4;
    --light-green-color: #92E3A9;
    --pale-green-color: #def7e5;
    --light-red-color: #FF725E;
    --pale-red-color: #ffd5cf;
    --light-blue-color: #79a3ff;
    --pale-blue-color: #b3caff;
}

html {
    scroll-padding-top: 72px;
    overflow-x: hidden;
    scroll-behavior: smooth;

    /* new change */
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;

    /* new change */
    /* position:relative; */
    box-sizing: inherit;
    min-height: 100%;
    width: 100%;
    /* margin-bottom: 9.74rem;
    padding-bottom: 9.74rem; */
}

#main {
    margin-top: 72px;

}

table,
td,
th {
    border: 0.50px var(--black-color) solid;
    border-collapse: collapse;
    padding: 10px;
}

/* NAV */

nav {
    position: fixed;
    width: 100%;
    height: 72px;
    padding: 0 64px;
    background: var(--white-color);
    border-bottom: 0.50px var(--black-color) solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    z-index: 1000;
}

.navContainer {
    width: 1440px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
    text-align: center;
}

.Column1 {
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.Logo {
    position: relative;
}

.Logo h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.Column2 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: flex;
}

.Column2 a.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Column2 a:hover,
.active {
    text-decoration: underline;
}

#span-icon {
    display: none;
}

#span-text {
    display: block;
}

.Column2 .nav-link {
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.Column2 li ul.dropdown li {
    display: block;
}

.Column2 li ul.dropdown {
    display: none;
    position: absolute;
    background: var(--white-color);
    padding: 15px;
    border: 0.50px var(--black-color) solid;
    line-height: 32px;
    text-align: left;
}

.Column2 li:hover ul.dropdown {
    display: block;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.Column3 {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: inline-flex;
}

.Column3 .Button {
    padding: 8px 20px;
    background: var(--light-green-color);
    border: 0.50px var(--black-color) solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    cursor: pointer;
    border-radius: 0.9375rem;
}

#logout-btn {
    background: var(--light-blue-color);
}

#logout-btn:hover {
    background: var(--pale-blue-color);
}

#remove-btn {
    background: var(--light-red-color);
}

#remove-btn:hover {
    background: var(--pale-red-color);
}

.Column3 .Button:hover {
    background-color: var(--pale-green-color);
}

#hero {
    margin-top: 72px;
    height: 100vh;
    background-color: var(--pale-green-color);
}

#hero1 {
    height: 100vh;
    background-color: var(--light-grey-color);
}

#hero2 {
    height: 100vh;
    background-color: var(--light-green-color);
}

/* SECTION 1 */

.Header1 {
    width: 100%;
    padding: 0 64px;
    /* margin-top: 72px; */
    background: var(--white-color);
    justify-content: center;
    align-items: center;
    gap: 80px;
    display: inline-flex;
}

.heroContainer {
    width: 1440px;
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: inline-flex;
}

.heroContainer .Column {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

#heroCol {
    padding-top: 25px;
}

.Content {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.Heading1 {
    align-self: stretch;
    font-size: 56px;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
}

.Text {
    align-self: stretch;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}

.image {
    flex: 1;
}

.Image {
    width: 100%;
    object-fit: cover;
}

.table-image {
    width: 50px;
    height: auto;
    display: block;
    margin: auto;
}

/* SECTION 2 */
.Heading2 {
    align-self: stretch;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.60px;
    word-wrap: break-word;
}

.SectionTitle {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.Subheading {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}

.List {
    align-self: stretch;
    padding: 8px 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.ListItem {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.Subheadings {
    align-self: stretch;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}

.Subheadings .Text {
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

/* SECTION 3 */



/* SECTION 4 */








/* FOOTER */
.footer {
    width: 100%;
    padding: 80px 64px;
    background: var(--light-grey-color);
    justify-content: center;
    align-items: center;
    display: inline-flex;

    /* new change */
    bottom: 0;
    /* position: absolute; */
    position: relative;
}

.Footer4 {
    width: 1440px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: inline-flex;
}

.Footer4 .Content {
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
    flex-direction: row;
}

.up-footer-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}

.SocialLinks {
    flex: 1 1 0;
    height: 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    display: flex;
}

.SocialLinks i {
    font-size: 28px;
}

.Credits {
    align-self: stretch;
    /* height: 54px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: flex;
}

.Divider {
    align-self: stretch;
    height: 1px;
    background: var(--black-color);
    border: 1px solid var(--black-color);
}

.Row {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.Row .Text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
}

.FooterLinks {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
    flex-direction: row;
}

.down-footer-link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 21px;
    word-wrap: break-word;
}

/* SHOP */

.Shop {
    width: 100%;
    Height: calc(100vh - 500px);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    color: #000000;
    padding: 30vh 10vw;
}

.Products {
    /* position:relative; */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.Product {
    align-self: stretch;
    padding: 32px 0;
    width: 1440px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

/* CARD BEGIN */

.Card {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

.Product-card {
    width: 316px;
    /* height: 424px; */

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
    border: 0.50px var(--black-color) solid;
    border-radius: 0.9375rem;
    padding: 30px;
    flex-wrap: wrap;
}

.Product-card a {
    flex-direction: column;
    display: flex;
}

.PlaceholderImage-shop {
    width: 254px;
    height: 254px;
}


.Content-card {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

#content-card-id{
    padding: 0 30px;
}

.Header-card {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.Heading-card {
    /* width: 304px; */
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    word-wrap: break-word;
}

.Text-card {
    /* width: 304px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
}

.Price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.form-shop {
    display: flex;
    width: 100%;
    gap: 8px;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
}

.Button-container-card {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.Button-card {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.form-group input,
.form-group button {
    width: 100%;
    outline: none;
}

.form-group input {
    margin-bottom: 10px;
    border-radius: 0.9375rem;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.form-group button {
    width: 100%;
    background: var(--light-green-color);
    border-radius: 0.9375rem;
    cursor: pointer;
}

.form-group a {
    width: 100%;
    background: var(--light-red-color);
    border-radius: 0.9375rem;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
}

.form-group a:hover {
    background: var(--pale-red-color);
}

.form-group button:hover {
    background: var(--pale-green-color);
}

.Product-card:hover{
    box-shadow: 0px 0px 20px #3f3f3f;
}

/* CARD END */

/* PRODUCT DETAIL BEGING */

.ProductHeader1 {
    width: 1440px;
    /* height: 1571px; */
    padding: 112px 64px;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: inline-flex;
}

.Content-product-details {
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    display: inline-flex;
}

.Product-product-details {
    /* flex: 1 1 0; */
    /* height: 640px; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.Column1-product-details {
    /* flex: 1 1 0; */
    /* height: 640px; */
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.PlaceholderImage {
    /* flex: 1 1 0; */
    /* height: 640px; */
    width: 520px;
    object-fit: contain;
}

.Column2-product-details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.ProductDescription {
    align-self: stretch;
    /* height: 729px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.ProductName {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: flex;
}

.Heading-product-details {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
}

.Price-product-details {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.60px;
    word-wrap: break-word;
}

.Text-product-details {
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Input-checkout {
    align-self: stretch;
    /* height: 80px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: flex;
}

.Variant {
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Quantity {
    align-self: stretch;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.TextInput {
    /* width: 50px; */
    width: 254px;
    /* padding: 12px; */
    padding: 6px;
    background: white;
    border: 1px black solid;
    border-radius: 0.9375rem;
    justify-content: flex-start;
    align-items: center;
    /* gap: 8px; */
    display: inline-flex;
}

/* .TextInput {
    margin-bottom: 10px;
    border-radius: 0.9375rem;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    border: 1px black solid;
} */

.Placeholder {
    flex: 1 1 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    /* width: 200px; */
}

.FormSubmit {
    align-self: stretch;
    /* height: 120px; */
    padding-top: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.Button-product-details {
    align-self: stretch;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #92E3A9;
    border-radius: 19px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.Button-product-details:hover {
    background: var(--pale-green-color);
}

.Button-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

/* PRODUCT DETAIL END */

/* CHECKOUT BEGIN */

.Contact5 {
    width: 100%;
    padding: 112px 64px;
    background: var(--white-color);
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 80px;
    display: inline-flex;
}

.Container-checkout {
    width: 1440px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 80px;
    display: inline-flex;
    /* flex-direction: column; */
}

.Contents-checkout {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
}

.Content1-checkout {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

.Subheading-checkout {
    align-self: stretch;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
}

.Content2-checkout {
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.Row1-checkout {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.Name-checkout {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Form-checkout {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.TextInput-checkout {
    align-self: stretch;
    padding: 12px;
    background: white;
    border: 1px black solid;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Button-checkout {
    padding: 12px 24px;
    background: #92E3A9;
    border-radius: 19px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.Button-checkout:hover {
    background: var(--pale-green-color);
}

/* CHECKOUT END */

.OrderProduct {
    align-self: stretch;
    padding: 32px 0;
    width: 1440px;
    justify-content: flex-start;
    /* align-items: center; */
    display: inline-flex;
    flex-direction: column;
}

.Search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    width: 600px;
    height: 44px;
    display: flex;
    border: 0.50px var(--black-color) solid;
    border-radius: 0.9375rem;
}

#search button {
    flex: 0.2;

    outline: none;
    border: none;
    background: var(--light-green-color);
    border-radius: 0 0.9375rem 0.9375rem 0;
    cursor: pointer;
    border-left: 0.50px var(--black-color) solid;
}

#search button:hover {
    background: var(--pale-green-color);
}

#search input {
    flex: 1;
    font-size: 18px;

    outline: none;
    border: none;
    border-radius: 0.9375rem 0 0 0.9375rem;
    padding-left: 20px;
}

#order {
    all: initial;
}

#order input {
    outline: none;
    border: 0.50px var(--black-color) solid;
    border-radius: 0.9375rem;
    padding-left: 20px;
    height: 30px;
}

#order button {
    outline: none;
    width: 150px;
    height: 45px;
    border: 0.50px var(--black-color) solid;
    background: var(--light-green-color);
    border-radius: 0.9375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#order button:hover {
    background: var(--pale-green-color);
}

.Cart_column3 {
    align-items: left;
}

/* MEDIA QUERY */

@media screen and (max-width: 600px) {
    .Card {
        flex-direction: column;
    }

    #search {
        width: 300px;
    }
}

@media screen and (max-width: 950px) {

    #main {
        margin-bottom: 72px;
    }

    /* NAV */

    nav {
        position: fixed;
        height: 72px;
        padding: 0px 32px;
        border-top: 0.50px var(--black-color) solid;
    }

    .Logo h4 {
        font-size: 20px;
    }

    .navContainer .Column2 {
        width: 100%;
        background: var(--white-color);
        position: fixed;
        height: 72px;
        bottom: 0;
        left: 0;
        border-top: 0.50px var(--black-color) solid;
        padding: 32px;
        align-items: center;
        justify-content: center;
        gap: 48px;
        flex-direction: row-reverse;
    }

    .Column2 .nav-link {
        justify-content: end;
    }

    .Column2 li ul.dropdown {
        bottom: 71px;
        left: 32px;
        text-align: right;
    }

    #span-icon {
        display: block;
    }

    #span-text {
        display: none;
    }

    /* HERO */

    .Header1 {
        padding: 0 32px;
    }

    .heroContainer {
        flex-direction: column;
        gap: 20px;
    }

    .heroContainer .Column .Content .Heading {
        font-size: 48px;
    }

    /* LOADOUT */

    .List {
        flex-direction: column;
    }

    /* PRODUCT DETAIL */

    .ProductHeader1 {
        padding: 0 64px;
    }

    .Content-product-details {
        align-items: center;
        flex-direction: column;
    }

    .PlaceholderImage {
        /* flex: 1 1 0; */
        /* height: 640px; */
        width: 320px;
        object-fit: contain;
    }

    .form-product-details {
        width: 100%;
        text-align: right;
    }

    /* CHECKOUT */

    .Contact5 {
        padding: 64px 32px;
    }

    .Container-checkout {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Form-checkout {
        width:100%;
    }

    /* FOOTER */

    .footer {
        padding: 40px 32px;
    }

    .Footer4 {
        gap: 40px;
    }

    .Footer4 .Content {
        flex-direction: column;
        gap: 52px;
    }

    .Row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .Column2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .footer .Column2 a {
        padding: 0 11px;
    }
}